/* --------------------- body ----------------------- */
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 5px;
  background: rgba(235, 162, 66, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: #00000048;
  border-radius: 5px;
}

/* ---------------- position ----------------- */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.t-1 {
  top: 10%;
}
.t-2 {
  top: 20%;
}
.t-3 {
  top: 30%;
}
.t-10 {
  top: 100vh;
}
.l-1 {
  left: 15px;
}
.l-1-0 {
  left: 10%;
}
.l-1-5 {
  left: 15%;
}
.l-2 {
  left: 30px;
}
.l-2-0 {
  left: 20%;
}
.l-3 {
  left: 45px;
}
.l-4 {
  left: 60px;
}
.l-5 {
  left: 75px;
}
.l-6 {
  left: 90px;
}
.l-7 {
  left: 105px;
}

/* ---------------- settings ----------------- */
.dy {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.center-h {
  align-items: center;
}
.center-w {
  justify-content: center;
}
.center {
  align-items: center;
  justify-content: center;
}
